<!-- Sidebar  -->
            <nav id="sidebar" class="active">
                <div class="sidebar-header">
                    <h3>Bootstrap Sidebar</h3>
                </div>

                <ul class="list-unstyled components">
                    <p>Dummy Heading</p>
                
                    <li>
                        <a href="/" class="active text-white" >Dashboard</a>
                    </li>
                    
                    <li>
                        <a href="/inputdata" class="text-white">Input Data</a>
                    </li>
                    
                </ul>

                

                
            </nav>