{% load static %}

<!DOCTYPE html>
<html lang="en">
    {% include "snippets/head.html" %}


    <body>
        <div class="wrapper">
            {% include "snippets/side_navbar.html" %}


            <!-- Page Content  -->
            <div id="content" class="active">
                {% include "snippets/top_navbar.html" %}
                
                {% block heading %}
                {% endblock heading %}

                {% block content %}
                {% endblock content %}
                
            </div>
        </div>
        {% block scripts %}
            
        {% endblock scripts %}
        

        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    </body>
</html>
